
@font-face {
    font-family: 'wigrum';
    src: url('./fonts/wigrum/wigrum_regular-webfont.woff2') format('woff2'),
         url('./fonts/wigrum/wigrum_regular-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'wigrum';
    src: url('./fonts/wigrum/wigrum_medium-webfont.woff2') format('woff2'),
         url('./fonts/wigrum/wigrum_medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
