@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Larsseit';
	src:url('#{$directory-fonts}/Larsseit/Larsseit.eot?-gfwsty');
	src:url('#{$directory-fonts}/Larsseit/Larsseit.eot?#iefix-gfwsty') format('embedded-opentype'),
	url('#{$directory-fonts}/Larsseit/Larsseit.ttf?-gfwsty') format('truetype'),
	url('#{$directory-fonts}/Larsseit/Larsseit.woff?-gfwsty') format('woff'),
	url('#{$directory-fonts}/Larsseit/Larsseit.svg?-gfwsty#Larsseit') format('svg');
}