@mixin vertical-align {

	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

@mixin vertical-align-table {
	display: table;

	.wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}

@mixin padding-section {
	padding-top: 150px;
	padding-bottom: 300px;

	@include breakpoint(max-width $breakpoint-sm-width) {
		padding-top: 60px;
		padding-bottom: 170px;

	}
}

.hidden {
	.js & {
		display: none;
	}
}

.hidden-no-js {
	.no-js & {
		display: none;
	}
}

@mixin hidden-xs {
	@include breakpoint(max-width $breakpoint-sm-width) {
		display: none;
	}
}
.hidden-xs {
	@include hidden-xs;
}

@mixin hidden-sm {
	@include breakpoint($breakpoint-sm-width $breakpoint-sm-width-max) {
		display: none;
	}
}
.hidden-sm {
	@include hidden-sm;
}


@mixin hidden-md {
	@include breakpoint($breakpoint-md-width $breakpoint-md-width-max) {
		display: none;
	}
}
.hidden-md {
	@include hidden-md;
}

@mixin hidden-lg {
	@include breakpoint($breakpoint-lg-width) {
		display: none;
	}
}
.hidden-lg {
	@include hidden-lg;
}


@mixin visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visually-hidden {
	@include visually-hidden;
}
