p {
    margin-bottom: $vr*3;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    margin-bottom: $vr*2;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
    margin-bottom: $vr*3;
}

.h1 {
    font-size: $vr*6;
    font-size: calc(#{$vr*5} + 3.5vw);

    @include breakpoint($xl) {
        font-size: $vr*15;
    }
}
.h2 {
    font-size: $vr*5;
    font-size: calc(#{$vr*4} + 2.5vw);

    @include breakpoint($xl) {
        font-size: $vr*11;
    }
}
.h3 {
    font-size: $vr*4;
    font-size: calc(#{$vr*3} + 1.9vw);
    
    @include breakpoint($xl) {
        font-size: $vr*8;
    }
}
.h4 {
    font-size: $vr*3.5;
    font-size: calc(#{$vr*2} + 1.5vw);
    
    @include breakpoint($xl) {
        font-size: $vr*6;
    }
}

.h5 {
    font-size: $vr*3;
    font-size: calc(#{$vr*2} + 0.75vw);
    
    @include breakpoint($xl) {
        font-size: $vr*4;
    }
}