@mixin flex-container {
	@include container;
	display: flex;
	flex-flow: row wrap;

	@include breakpoint(max-width $breakpoint-lg-width) {
		padding: 0px;
	}
}

.flex-container {
	@include flex-container;
}

.flex-container--md {
	@include breakpoint(min-width $breakpoint-md-width) {
		@include flex-container;
	}
}

.container {
	@include container;
	padding: 0 $container-padding;

	@include breakpoint($md) {
		margin: 0 $margin-md;
	}
	@include breakpoint($lg) {
		margin: 0 $margin-lg;
	}
	@include breakpoint($xl) {
		margin: 0 $margin-xl;
	}
	@include breakpoint($xxl) {
		margin: 0 $margin-xxl;
	}
}

.wrapper {
	@include container;
	width: 1500px;
	margin: 0 auto;
	// background-color: #fff;
}
