@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  box-sizing: border-box; }

html {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  margin-top: 0 !important;
  background: #fefefe;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 479px) {
    html {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; } }

body {
  color: #222222;
  font-family: "Larsseit", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; }

img {
  max-width: 100%; }

.logo {
  max-width: 40%; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  padding: 0 40px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

p {
  margin-bottom: 15px; }

a {
  text-decoration: none;
  color: inherit; }

li {
  margin-bottom: 10px; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  margin-bottom: 15px; }

.h1 {
  font-size: 30px;
  font-size: calc(25px + 3.5vw); }
  @media (min-width: 1400px) {
    .h1 {
      font-size: 75px; } }

.h2 {
  font-size: 25px;
  font-size: calc(20px + 2.5vw); }
  @media (min-width: 1400px) {
    .h2 {
      font-size: 55px; } }

.h3 {
  font-size: 20px;
  font-size: calc(15px + 1.9vw); }
  @media (min-width: 1400px) {
    .h3 {
      font-size: 40px; } }

.h4 {
  font-size: 17.5px;
  font-size: calc(10px + 1.5vw); }
  @media (min-width: 1400px) {
    .h4 {
      font-size: 30px; } }

.h5 {
  font-size: 15px;
  font-size: calc(10px + 0.75vw); }
  @media (min-width: 1400px) {
    .h5 {
      font-size: 20px; } }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Larsseit';
  src: url("./fonts/Larsseit/Larsseit.eot?-gfwsty");
  src: url("./fonts/Larsseit/Larsseit.eot?#iefix-gfwsty") format("embedded-opentype"), url("./fonts/Larsseit/Larsseit.ttf?-gfwsty") format("truetype"), url("./fonts/Larsseit/Larsseit.woff?-gfwsty") format("woff"), url("./fonts/Larsseit/Larsseit.svg?-gfwsty#Larsseit") format("svg"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "icomoon";
  src: url("./fonts/icomoon/icomoon.eot?-gfwsty");
  src: url("./fonts/icomoon/icomoon.eot?#iefix-gfwsty") format("embedded-opentype"), url("./fonts/icomoon/icomoon.ttf?-gfwsty") format("truetype"), url("./fonts/icomoon/icomoon.woff?-gfwsty") format("woff"), url("./fonts/icomoon/icomoon.svg?-gfwsty#icomoon") format("svg"); }

[class^="icon--"],
[class*=" icon--"] {
  display: inline-block;
  margin: 10px; }
  [class^="icon--"]:before,
  [class*=" icon--"]:before {
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: "icomoon";
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icon--envelope-o {
  display: inline-block;
  margin: 10px; }
  .icon--envelope-o:before {
    content: ""; }

.icon--twitter-square {
  display: inline-block;
  margin: 10px; }
  .icon--twitter-square:before {
    content: ""; }

.icon--facebook-square {
  display: inline-block;
  margin: 10px; }
  .icon--facebook-square:before {
    content: ""; }

.icon--linkedin-square {
  display: inline-block;
  margin: 10px; }
  .icon--linkedin-square:before {
    content: ""; }

.icon--twitter {
  display: inline-block;
  margin: 10px; }
  .icon--twitter:before {
    content: ""; }

.icon--facebook {
  display: inline-block;
  margin: 10px; }
  .icon--facebook:before {
    content: ""; }

.icon--facebook-f {
  display: inline-block;
  margin: 10px; }
  .icon--facebook-f:before {
    content: ""; }

.icon--pinterest {
  display: inline-block;
  margin: 10px; }
  .icon--pinterest:before {
    content: ""; }

.icon--pinterest-square {
  display: inline-block;
  margin: 10px; }
  .icon--pinterest-square:before {
    content: ""; }

.icon--google-plus-square {
  display: inline-block;
  margin: 10px; }
  .icon--google-plus-square:before {
    content: ""; }

.icon--google-plus {
  display: inline-block;
  margin: 10px; }
  .icon--google-plus:before {
    content: ""; }

.icon--envelope {
  display: inline-block;
  margin: 10px; }
  .icon--envelope:before {
    content: ""; }

.icon--linkedin {
  display: inline-block;
  margin: 10px; }
  .icon--linkedin:before {
    content: ""; }

.icon--rss-square {
  display: inline-block;
  margin: 10px; }
  .icon--rss-square:before {
    content: ""; }

.icon--youtube-square {
  display: inline-block;
  margin: 10px; }
  .icon--youtube-square:before {
    content: ""; }

.icon--youtube {
  display: inline-block;
  margin: 10px; }
  .icon--youtube:before {
    content: ""; }

.icon--xing {
  display: inline-block;
  margin: 10px; }
  .icon--xing:before {
    content: ""; }

.icon--youtube-play {
  display: inline-block;
  margin: 10px; }
  .icon--youtube-play:before {
    content: ""; }

.icon--dropbox {
  display: inline-block;
  margin: 10px; }
  .icon--dropbox:before {
    content: ""; }

.icon--instagram {
  display: inline-block;
  margin: 10px; }
  .icon--instagram:before {
    content: ""; }

.icon--tumblr {
  display: inline-block;
  margin: 10px; }
  .icon--tumblr:before {
    content: ""; }

.icon--tumblr-square {
  display: inline-block;
  margin: 10px; }
  .icon--tumblr-square:before {
    content: ""; }

.icon--foursquare {
  display: inline-block;
  margin: 10px; }
  .icon--foursquare:before {
    content: ""; }

.icon--vk {
  display: inline-block;
  margin: 10px; }
  .icon--vk:before {
    content: ""; }

.icon--weibo {
  display: inline-block;
  margin: 10px; }
  .icon--weibo:before {
    content: ""; }

.icon--renren {
  display: inline-block;
  margin: 10px; }
  .icon--renren:before {
    content: ""; }

.icon--vimeo-square {
  display: inline-block;
  margin: 10px; }
  .icon--vimeo-square:before {
    content: ""; }

.icon--google {
  display: inline-block;
  margin: 10px; }
  .icon--google:before {
    content: ""; }

.icon--stumbleupon-circle {
  display: inline-block;
  margin: 10px; }
  .icon--stumbleupon-circle:before {
    content: ""; }

.icon--stumbleupon {
  display: inline-block;
  margin: 10px; }
  .icon--stumbleupon:before {
    content: ""; }

.icon--delicious {
  display: inline-block;
  margin: 10px; }
  .icon--delicious:before {
    content: ""; }

.icon--digg {
  display: inline-block;
  margin: 10px; }
  .icon--digg:before {
    content: ""; }

.icon--file-pdf-o {
  display: inline-block;
  margin: 10px; }
  .icon--file-pdf-o:before {
    content: ""; }

.icon--file-word-o {
  display: inline-block;
  margin: 10px; }
  .icon--file-word-o:before {
    content: ""; }

.icon--file-excel-o {
  display: inline-block;
  margin: 10px; }
  .icon--file-excel-o:before {
    content: ""; }

.icon--file-powerpoint-o {
  display: inline-block;
  margin: 10px; }
  .icon--file-powerpoint-o:before {
    content: ""; }

.icon--vine {
  display: inline-block;
  margin: 10px; }
  .icon--vine:before {
    content: ""; }

.icon--tencent-weibo {
  display: inline-block;
  margin: 10px; }
  .icon--tencent-weibo:before {
    content: ""; }

.icon--qq {
  display: inline-block;
  margin: 10px; }
  .icon--qq:before {
    content: ""; }

.icon--wechat {
  display: inline-block;
  margin: 10px; }
  .icon--wechat:before {
    content: ""; }

.icon--weixin {
  display: inline-block;
  margin: 10px; }
  .icon--weixin:before {
    content: ""; }

.icon--paper-plane {
  display: inline-block;
  margin: 10px; }
  .icon--paper-plane:before {
    content: ""; }

.icon--send {
  display: inline-block;
  margin: 10px; }
  .icon--send:before {
    content: ""; }

.icon--paper-plane-o {
  display: inline-block;
  margin: 10px; }
  .icon--paper-plane-o:before {
    content: ""; }

.icon--send-o {
  display: inline-block;
  margin: 10px; }
  .icon--send-o:before {
    content: ""; }

.icon--facebook-official {
  display: inline-block;
  margin: 10px; }
  .icon--facebook-official:before {
    content: ""; }

.icon--pinterest-p {
  display: inline-block;
  margin: 10px; }
  .icon--pinterest-p:before {
    content: ""; }

.icon--medium {
  display: inline-block;
  margin: 10px; }
  .icon--medium:before {
    content: ""; }

.icon--tripadvisor {
  display: inline-block;
  margin: 10px; }
  .icon--tripadvisor:before {
    content: ""; }

.icon--vimeo {
  display: inline-block;
  margin: 10px; }
  .icon--vimeo:before {
    content: ""; }

.icon--snapchat {
  display: inline-block;
  margin: 10px; }
  .icon--snapchat:before {
    content: ""; }

.icon--snapchat-ghost {
  display: inline-block;
  margin: 10px; }
  .icon--snapchat-ghost:before {
    content: ""; }

.icon--snapchat-square {
  display: inline-block;
  margin: 10px; }
  .icon--snapchat-square:before {
    content: ""; }

.icon--google-plus-circle {
  display: inline-block;
  margin: 10px; }
  .icon--google-plus-circle:before {
    content: ""; }

.icon--google-plus-official {
  display: inline-block;
  margin: 10px; }
  .icon--google-plus-official:before {
    content: ""; }

.icon--telegram {
  display: inline-block;
  margin: 10px; }
  .icon--telegram:before {
    content: ""; }

.icon--meetup {
  display: inline-block;
  margin: 10px; }
  .icon--meetup:before {
    content: ""; }

.visually-hidden,
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.wordpress-content-area > * {
  float: left;
  display: block;
  clear: both;
  width: 100%; }

.wordpress-content-area ul {
  float: left;
  list-style-type: disc;
  padding-left: 30px; }

.wordpress-content-area blockquote {
  border-left: 2px solid #555;
  padding-left: 15px; }

.wordpress-content-area b {
  font-weight: bold; }

.wordpress-content-area a {
  text-decoration: underline; }

.wordpress-content-area sup {
  vertical-align: super;
  font-size: 60%; }

.wordpress-content-area sub {
  vertical-align: sub;
  font-size: 60%; }

.wordpress-content-area table {
  width: 100%;
  font-weight: 400; }
  @media (min-width: 1200px) {
    .wordpress-content-area table {
      width: 79.16667%;
      float: left;
      margin-right: 4.16667%; } }
  .wordpress-content-area table td,
  .wordpress-content-area table th {
    padding: 15px;
    border: 1px solid;
    text-align: center; }
  .wordpress-content-area table th {
    font-weight: 600; }

.section {
  position: relative;
  padding: 50px;
  z-index: 10; }
